.button-header {
    text-transform: uppercase;
   font-size: 0.8em; 
   max-height: 110px;

}
.header {
    min-height: 76px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* optional, if you want no scroll at all */
    cursor: none; 
  }
  @font-face {
    font-family: 'PPNeueMachina';         
    src:   url('./fonts/PPNeueMachina-InktrapLight.otf') format('opentype');
    font-weight: 300;                        /* Light */
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: PPNeueMachina, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
  
  }

  .cursor {
    position: fixed;
    width: 100px; height: 100px;
    /* border: 2px solid #000;
    border-radius: 50%; */
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    /* use a relative path unless you really serve from site root */
    background: url("/images/1x/cursor-1.png") center/contain no-repeat;
  }
  
